.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111;
  perspective: 1000px;
  transform-style: preserve-3d;
  overflow: hidden;

  canvas {
    transform-style: preserve-3d;
    transform: rotateX(0) rotateY(0) rotateZ(0) scale(0.5);
    transition: 0.2s ease-in-out all;
  }
}

.controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 30px 50px;

  button {
    background: transparent;
    border: none;
    cursor: pointer;
    color: white;
    padding: 10px;
  }
}

.tabs {
  display: flex;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
}

.tab {
  max-height: 0;
  opacity: 0;
  transition: 0.2s ease-in-out all;
  background: rgba(0, 0, 0, 0.4);
}

.tab_active_transform .tab_transform {
  max-height: 200px;
  opacity: 1;
}
